@media screen and (min-width: 425px) {
    .hero {
        div.img-wrapper {
            div.text-wrapper {
                h1 {
                    font-size: 42px;
                }
                div.overlay {
                    width: 19rem;

                    &:nth-child(4) {
                        width: 15.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        div.img-wrapper {
            div.text-wrapper {
                margin-top: -15rem;

                h1 {
                    span.text-mark {
                        &::before {
                            content: '';
                            white-space: pre;
                        }
                    }
                }
                div.overlay {
                    background: rgba(255, 170, 0, 0.8);
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    padding: 0 10px;
                    width: 19rem;
                    height: 45px;
                    margin-top: -3.3rem;
                    margin-left: 5.8rem;
                    &:nth-child(4) {
                        width: 15.5rem;
                        margin-left: 13.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
}
