h2.section-title {
    margin: 20px auto;
    font-size: 20px;
}

resto-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}
resto-item.card {
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
    background: #ffffff;
    border-radius: 15px;

    img.img-card {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    div.text-card-wrapper {
        margin: 20px;
        div.card-description {
            width: 100%;
            div.card-upper {
                display: flex;
                justify-content: space-between;
                p.resto-location {
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 22px;
                    color: #b0b0b0;
                }

                div.rating {
                    .rating-icon {
                        color: #ffce31;
                        font-size: 16px;
                    }
                    .rating-value {
                        color: #152c5b;
                        font-size: 15px;
                    }
                }
            }
            div.card-bottom {
                h3.resto-title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #152c5b;
                    margin-top: 0.75rem;
                }
            }
        }
    }
}
