<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#ffaa00" />
        <meta
            name="description"
            content="Resaurant Apps for made the best dining experience and memorable"
        />
        <link rel="icon" href="favicon.png" />
        <link rel="manifest" href="manifest.json" />
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
        <title>Makan.In</title>
    </head>
    <body>
        <header class="header">
            <a tabindex="1" href="#main-content" class="skip-link"
                >Skip To Content</a
            >
            <app-bar class="app-bar"></app-bar>
        </header>
        <main id="mainContent"></main>
        <button id="btn-back-to-top" title="back to top">
            <i class="fas fa-chevron-up"></i>
        </button>

        <footer>
            <footer-bar></footer-bar>
        </footer>
    </body>
</html>
