/* .section-top-detail {
    div.content {
        position: relative;
        z-index: 1;
        padding-top: 7.25rem;
        color: #fff;

        .resto-image {
            width: 242px;
            height: 242px;
            border-radius: 10px;
            overflow: hidden;
            filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .resto-info {
            margin-left: 40px;
            padding-top: 1rem;
        }

        .resto-name {
            font-size: 2.625rem;
            letter-spacing: 0.04em;
        }
        .location-rating {
            padding-top: 0.625rem;
            .location-name {
                font-size: 1.5rem;
                margin-left: 0.5rem;
            }

            .rating {
                margin-left: 1rem;
                .icon-star {
                    font-size: 1.5rem;
                    color: #ffc107;
                }
                .rating-number {
                    font-size: 1.25rem;
                    margin-left: 0.25rem;
                }
            }
        }

        detail-category {
            .detail-category-container {
                margin-top: 2.5rem;
                a.detail-category-item {
                    font-size: 1rem;
                    color: #fff;
                    background-color: #34364a;
                    padding: 0.7rem 1rem;
                    border-radius: 10px;
                    margin-top: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
} */

@media screen and (min-width: 320px) {
    .section-top-detail {
        div.content {
            position: relative;
            z-index: 1;
            padding-top: 3.25rem;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .resto-image {
                width: 142px;
                height: 142px;
                border-radius: 10px;
                overflow: hidden;
                filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
                margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .resto-info {
                margin-left: unset;
                padding-top: 1rem;
                display: block;
                width: 100%;
            }

            .resto-name {
                font-size: 1.75rem;
                letter-spacing: 0.04em;
                text-align: center;
            }

            .location-rating {
                justify-content: center;
                padding-top: 0.625rem;
                .location-name {
                    font-size: 1.5rem;
                    margin-left: 0.5rem;
                }

                .rating {
                    margin-left: 1rem;
                    .icon-star {
                        font-size: 1.5rem;
                        color: #ffc107;
                    }
                    .rating-number {
                        font-size: 1.25rem;
                        margin-left: 0.25rem;
                    }
                }
            }
            .address-section {
                padding-top: 10px;
                text-align: center;
            }

            detail-category {
                .detail-category-container {
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: center;

                    a.detail-category-item {
                        font-size: 1rem;
                        color: #fff;
                        background-color: #34364a;
                        padding: 0.7rem 1rem;
                        border-radius: 10px;
                        margin: 0.5rem 0.25rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .section-top-detail {
        div.content {
            .resto-image {
                width: 142px;
                height: 142px;
                border-radius: 10px;
                overflow: hidden;
                filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
                margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .resto-info {
                margin-left: unset;
                padding-top: 1rem;
                display: block;
                width: 100%;
            }

            .resto-name {
                font-size: 1.75rem;
                letter-spacing: 0.04em;
                text-align: center;
            }

            .location-rating {
                justify-content: center;
                padding-top: 0.625rem;
                .location-name {
                    font-size: 1.5rem;
                    margin-left: 0.5rem;
                }

                .rating {
                    margin-left: 1rem;
                    .icon-star {
                        font-size: 1.5rem;
                        color: #ffc107;
                    }
                    .rating-number {
                        font-size: 1.25rem;
                        margin-left: 0.25rem;
                    }
                }
            }
            .address-section {
                padding-top: 10px;
                text-align: center;
            }

            detail-category {
                .detail-category-container {
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: center;

                    a.detail-category-item {
                        font-size: 1rem;
                        color: #fff;
                        background-color: #34364a;
                        padding: 0.7rem 1rem;
                        border-radius: 10px;
                        margin: 0.5rem 0.25rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section-top-detail {
        div.content {
            padding-top: 7.25rem;

            .resto-image {
                width: 242px;
                height: 242px;
                border-radius: 10px;
                overflow: hidden;
                filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .resto-info {
                margin-left: 40px;
                padding-top: 1rem;
                width: fit-content;
            }

            .resto-name {
                font-size: 2.625rem;
                letter-spacing: 0.04em;
                text-align: left;
            }
            .location-rating {
                padding-top: 0.625rem;
                justify-content: start;
                .location-name {
                    font-size: 1.5rem;
                    margin-left: 0.5rem;
                }

                .rating {
                    margin-left: 1rem;
                    .icon-star {
                        font-size: 1.5rem;
                        color: #ffc107;
                    }
                    .rating-number {
                        font-size: 1.25rem;
                        margin-left: 0.25rem;
                    }
                }
            }

            .address-section {
                padding-top: 10px;
                text-align: left;
            }

            detail-category {
                .detail-category-container {
                    justify-content: start;

                    margin-top: 1.5rem;
                    a.detail-category-item {
                        font-size: 1rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}
