@media screen and (min-width: 320px) {
    div.like-button {
        .like {
            position: absolute;
            right: -5px;
            margin-top: 3rem;
        }
    }

    div.like-button {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        .like {
            position: absolute;
            right: -5px;
            margin-top: 3rem;

            font-size: 18px;
            color: white;
            border: 0;
            width: 55px;
            height: 55px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;

            .fa-heart {
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    div.like-button {
        .like {
            position: relative;
            right: auto;
            margin-top: 0;
        }
    }
}
