@media screen and (min-width: 320px) {
    review-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        review-item {
            width: 100%;
            border-bottom: 1px solid #b0b0b0;
            margin-bottom: 1rem;
            .user-info-wrapper {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .user-and-date {
                    .user-name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #34364a;
                    }
                    p.date {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;

                        color: #545454;
                    }
                }
            }

            .user-review {
                // margin-left: 4.375rem;
                margin-left: 0;
                margin-top: 25px;
                margin-bottom: 25px;
                overflow: hidden;

                p {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #545454;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    review-list {
        review-item {
            .user-info-wrapper {
                img {
                    width: 50px;
                    height: 50px;
                }

                .user-and-date {
                    .user-name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        color: #34364a;
                    }
                }
            }

            .user-review {
                p {
                    margin-left: 3.375rem;

                    font-style: italic;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #545454;
                }
            }
        }
    }
}
