@media screen and (min-width: 768px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
        .app-bar__brand h1 {
            font-size: 1.5em;
        }
        .app-bar__menu {
            display: none;
        }
        .app-bar__navigation {
            position: static;
            width: 100%;
            filter: none;
            ul li {
                display: inline-block;
                a {
                    display: inline-block;
                    width: 120px;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .app-bar {
        padding: 8px 83px;
    }
}
