$color-primary: #ffaa00;
$color-secondary: #5a5b15;
$text-dark: #34364a;
$text-grey: #b0b0b0;

$text-size-26: 1.625rem;
$text-size-18: 1.125rem;

.container {
    margin: 0 83px;
}
p {
    color: $text-dark;
}
.shadow {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.section-title {
    color: $color-primary;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.text-dark {
    color: $text-dark;
}
.text-grey {
    color: $text-grey;
}

.skip-link {
    position: absolute;
    top: -80px;
    left: 0px;
    background-color: #ffaa00;
    color: #fff;
    z-index: 100;
    padding: 20px 10px;
    border: 1px solid #152c5b;
}

.skip-link:focus {
    top: 0px;
}

body {
    :focus-visible {
        border-radius: 5px;
    }
    nav {
        :focus {
            border: 2px solid $text-dark;
        }
        button.humberger {
            &:focus {
                border: 1px solid $color-primary;
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    main,
    footer {
        :focus-visible {
            border: 2px solid $color-primary;
        }
    }
    .d-flex {
        display: flex;

        &.align-items-center {
            align-items: center;
        }

        &.align-items-end {
            align-items: end;
        }
    }
}
.mt-60 {
    margin-top: 60px;
}
.ms-50 {
    margin-left: 50px;
}
.ms-40 {
    margin-left: 40px;
}
