@import 'utils.scss';

/* minimal layar hp ukuran kecil */

@media screen and (min-width: 320px) {
    .container {
        margin: 0 2rem;
    }
}

/* minimal layar tablet */

@media screen and (min-width: 650px) {
    .container {
        margin: 0 43px;
    }
}

/* laptop dan PC */

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 83px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        margin: 0 10%;
    }
}

@import './components/header/header-responsive';
@import './components/main/main-responsive';
@import './components/footer/footer-responsive';
