<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Makan.in | Home</title>
	</head>
	<body class="body_wrapper">
		<a tabindex="1" href="#main-content" class="skip-link"
			>Menuju ke Konten</a
		>
		<header class="">
			<nav id="nav" class="nav container">
				<div class="nav-wrapper">
					<button
						id="menu"
						class="header_menu humberger"
						tabindex="0"
					>
						☰
					</button>
					<ul class="nav_list">
						<li class="nav_item active"><a href="/">Home</a></li>
						<li class="nav_item"><a href="#">Favorite</a></li>
						<li class="nav_item">
							<a
								href="https://www.linkedin.com/in/cperdiansyah/"
								target="_blank"
								>About Us</a
							>
						</li>
					</ul>
				</div>

				<div class="nav-brand">
					<div class="header_inner">
						<a
							class="header_title color-primary"
							href="#"
							tabindex="1"
						>
							Makan<span class="color-secondary">.in</span>
						</a>
					</div>
				</div>
			</nav>
		</header>

		<div class="hero">
			<div class="img-wrapper">
				<div class="gradient"></div>
				<img
					src="./images/heros/hero-image_2.jpg"
					alt="Hero Image"
					loading="lazy"
				/>

				<div class="text-wrapper container">
					<div class="text">
						<h1>
							Find<span class="text-mark"> A Good Place,</span>
						</h1>
						<div class="overlay"></div>
						<h1>
							Start Your
							<span class="text-mark">Good Taste</span>
						</h1>

						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
		<main id="main-content">
			<section class="menu container">
				<h2 class="section-title">Favorite Menu</h2>
				<div class="card-wrapper" id="top-menu">
					<div class="card-menu">
						<img
							class="img-card"
							src="./images/menu/image 2.png"
							alt="Gambar 1"
						/>
						<div class="menu-text">
							<h3 class="menu-title">Croffle</h3>
							<p class="menu-resto">Fairy Cafe</p>
						</div>
					</div>
				</div>
			</section>
			<section class="resto container">
				<h2 class="section-title">Restaurant Recommendations</h2>
				<div class="card-wrapper" id="restaurants">
					<div class="card">
						<img
							class="img-card"
							src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
							alt="Gambar Card"
						/>
						<div class="text-card-wrapper">
							<div class="card-description">
								<div class="card-upper">
									<p class="resto-location">Medan</p>
									<div class="rating">
										<i class="fas fa-star rating-icon"></i>
										<span class="rating-value">4.6</span>
									</div>
								</div>

								<div class="card-bottom">
									<h3 class="resto-title">
										Bring Your Phone Cafe
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="container">
			<div class="footer-wrapper">
				<div class="footer-brand" tabindex="0">
					<a class="brand_title color-primary" href="#">
						Makan<span class="color-secondary">.in</span>
					</a>
					<p class="footer-description" tabindex="0">
						We’ll made the best dining experience and memorable
					</p>
				</div>

				<div class="footer-links-wrapper">
					<div class="service" tabindex="0">
						<h3 class="footer-links-tittle" tabindex="0">
							Our Services
						</h3>

						<ul class="link-list">
							<li class="link-item"><a href="#">Favorite</a></li>
							<li class="link-item">
								<a href="#">Find Resto</a>
							</li>
							<li class="link-item"><a href="#">FAQ</a></li>
						</ul>
					</div>

					<div class="explore" tabindex="0">
						<h3 class="footer-links-tittle" tabindex="0">
							Explore Us
						</h3>

						<ul class="link-list">
							<li class="link-item">
								<a href="#">Our Careers</a>
							</li>
							<li class="link-item"><a href="#">Privacy</a></li>
							<li class="link-item">
								<a href="#">Terms & Conditions</a>
							</li>
						</ul>
					</div>

					<div class="connect" tabindex="0">
						<h3 class="footer-links-tittle" tabindex="0">
							Connect Us
						</h3>

						<ul class="link-list">
							<li class="link-item">
								<a href="mailto:support@makanin.id"
									>support@makanin.id</a
								>
							</li>
							<li class="link-item">
								<a href="tel:622122081996">021 - 2208 - 1996</a>
							</li>
							<li class="link-item">
								<span>Singaparna, Tasikmalaya, Jawa Barat</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom" tabindex="0">
				<span>Copyright 2021 • All rights reserved • Makan.in</span>
			</div>
		</footer>
	</body>
</html>
