@media screen and (min-width: 320px) {
    footer {
        div.footer-links-wrapper {
            ul.link-list {
                li.link-item {
                    a,
                    span {
                        display: block;
                        width: fit-content;
                        margin: auto;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    footer {
        div.footer-wrapper {
            div.footer-links-wrapper {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                margin-top: 3rem;
                text-align: left;

                ul.link-list {
                    li.link-item {
                        a,
                        span {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    footer {
        div.footer-wrapper {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 2fr 3fr;

            div.footer-brand {
                text-align: start;
                a.brand_title {
                    font-size: $text-size-26;
                }
                p.footer-description {
                    margin-top: 24px;
                    max-width: 326.27px;

                    font-size: 16px;
                }
            }

            div.footer-links-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr) 2fr;
                gap: 30px;
                margin-top: 0;

                h3.footer-links-tittle {
                    font-size: 18px;
                }

                ul.link-list {
                    margin-top: 24px;

                    li.link-item {
                        a,
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
