@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@import './utils';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

    a,
    ul li {
        text-decoration: none;
        color: $text-dark;
    }
    ul,
    ul li {
        list-style: none;
    }
}

#btn-back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    // z-index: 9;
    border: none;
    outline: none;
    background-color: #ffaa00;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.1s ease-in;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#btn-back-to-top:hover,
#btn-back-to-top:active {
    background-color: #ffc107;
}
#main-content {
    // margin-top: 4.5rem;
}

@import './components/header/header';

@import './components/main/main';

@import './components/footer/footer';

/* Skeleton Style */
@import './components/skeleton-loading/skeleton-loading';
